#asp.net

**/[Bb]in/
**/[Oo]bj/
/.vscode/
out/
artifacts/
.vs/
.vscode/
*.suo
*.user
*.userossc
*.sln.docstates
.idea/
*.sln.iml
project.lock.json
project.fragment.lock.json
*.nupkg
*/packages/
!/packages/build/
.nuget/packages/
packages/
aaaappsettings.*.json
!appsettings.json
secrets.json
*.log
.DS_Store
Thumbs.db
IISExpress/
publish/